.Home {
  text-align: center;
}

.Logo-logo {
  height: 40px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.Home-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-content {
  font-size: large;
    background-color: #000;
    height: 100%;
}

.card-container{
    margin-left: 4vw;
}

.card{
    float: left;
    margin: 0px 0px 15px 5px;
    width: 300px;
}

.Buscador-campo{
    color: #555;
    border-radius: 15px;
    background-color: #000;
    border: 1px solid #555;
}

label{
    color: #555;
}
