body {
    background-color: #000;
    color:#fff;
}

.Ficha {
  text-align: left;
}

.Logo-logo {
  height: 40px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  font-size: large;
    background-color: #000;
    height: 100%;
}

.card-container{
    margin-left: 4vw;
}

.card{
    float: left;
    margin: 0px 0px 15px 5px;
    width: 300px;
}
.imgficha{
    min-width: 450px;
}

.false{
    display: none;
}

.section-ficha .btn-circle.btn-lg {
    -webkit-border-radius: 25px;
}

.contenidoFicha{
    padding-left: 35px;
}


.btn-circle.btn-lg {
    width: 38px;
    height: 38px;
    padding: 2px 10px;
    font-size: 18px;
    line-height: 1.8;
    border-radius: 25px;
}

.item-btn-wrapper>* {
    margin: 0 auto;
    display: table;
}

.btn {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.btn, .btn-group a, .nav a {
    text-decoration: none;
}
.btn-default {
    color: #fff;
    background-color: rgba(0,0,0,.2);
    border-color: #f1f1f1;
}

.btn-circle.btn-lg .fa {
    line-height: 1;

    font-size: 14px;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#fff
}

.marginfb{
        margin-left: 4px;
}
