.App {
  text-align: center;
}

.Logo-logo {
  height: 40px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-content {
  font-size: large;
    background-color: #000;
    height: 100%;
}

.card-container{
    margin-left: 4vw;
}

.card{
    float: left;
    margin: 0px 0px 15px 5px;
    width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
